@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #01140e;
  --secondary-color: #fdfdec;
  --accent1-color: #ef8c1a;
  --accent2-color: #4b626c;

  --heading-font: "Bebas Neue", sans-serif;
  --paragraph-font: "Fira Sans Condensed", sans-serif;

  --nav-background-color: #fdfdec;
  --nav-link-color: #ef8c1a;
  --nav-hover-link-color: #01140e;
  --nav-hover-background-color: #4b626c;

  --colored-font: #ef8c1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--colored-font);
}

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid var(--accent2-color);
  max-width: 800px;
}

header img {
  margin: 0 0.25rem 0 1rem;
  width: 150px;
  height: auto;
}

nav {
  text-align: right;
}

.top-navigation {
  display: flex;
  list-style: none;
  margin-left: 40%;
}

.top-navigation li {
  flex: 1 1 100%;
  justify-content: center;
}

.top-navigation a {
  display: block;
  color: var(--nav-link-color);
  padding: 20px;
  text-align: center;
  font-size: large;
}

.top-navigation a:hover {
  color: var(--nav-hover-link-color);
  font-weight: 600;
}

div.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: rgba(1, 10, 7, 0.8);
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

div.hero article {
  position: absolute;
  top: 30%;
  left: auto;
  margin: 30px;
  background-color: rgba(1, 10, 7, 0.8);
  color: var(--secondary-color);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero article img {
  float: right;
  width: 220px;
  height: auto;
  margin: 20px;
}

p {
  padding: 0;
  margin: 20px;
  font-family: var(--paragraph-font);
}

.history-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.history-heading {
  text-align: center;
  font-size: xx-large;
}

.history-section img {
  width: auto;
  height: auto;
}

.sociallinks {
  text-decoration: none;
  padding: 0;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--paragraph-font);
  justify-content: center;
  margin: 2rem;
}

.gallery-heading {
  text-align: center;
  font-size: xx-large;
}

.gallery img {
  width: 250px;
  height: auto;
}

.gallery figcaption {
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

footer nav {
  grid-column-start: 5;
}

footer p {
  grid-column-start: 3;
}

/* Contact Us page css */

.top-page-div {
  margin: 0 40px 0 40px;
  padding: 0 40px 0 40px;
  text-align: center;
  font-size: x-large;
}

.contact-boxes section {
  border: 1px solid var(--accent2-color);
  border-radius: 0.5rem;
  margin: 10px 20px 10px 20px;
}

.contact-boxes {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  font-size: large;
  text-align: center;
}

.contact-boxes h2 {
  text-align: center;
}

.contact-boxes .box-1 {
  display: block;
}

.contact-boxes .box-2 {
  display: block;
}

.contact-boxes button {
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

/* map section */
.map-heading {
  text-align: center;
  margin: 40px 0 0 50px;
}

.map {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  font-size: large;
  text-align: center;
  margin: 70px;
}

.map .text-box {
  display: block;
  margin-top: 10%;
}

.map .img-box {
  display: block;
}

/* team member section */

.team-members {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--paragraph-font);
  justify-content: center;
  margin: 2rem;
}

.team-heading {
  text-align: center;
  font-size: xx-large;
}

.team-photos img {
  width: 250px;
  height: auto;
  border-radius: 0.5rem;
}

.team-photos figcaption {
  text-align: center;
}

/* form styling */

form {
  display: grid;
  width: 600px;
  margin: 0 auto;
  padding: 15px;
  border: 2px solid var(--accent2-color);
  border-radius: 10px;
  background-color: #fff;
}

fieldset {
  font-family: var(--paragraph-font);
  display: grid;
  grid-gap: 0.6rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid gray;
}

legend {
  font-family: var(--heading-font);
  font-size: 1.2rem;
  padding: 0.4rem;
  color: var(--font-color);
}

label {
  text-align: center;
  padding-right: 1rem;
}

input,
select,
textarea {
  font-size: 1rem;
  padding: 0.5rem;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.form-button {
  color: var(--primary-color);
  background-color: var(--accent1-color);
  border-radius: 0.5rem;
  width: 100px;
  height: 50px;
  margin-left: 20px;
  cursor: pointer;
}

.form-button:hover {
  background-color: var(--accent2-color);
}

.form-item {
  display: grid;
  align-items: center;
}

.column1 {
  margin: 0.6rem 1rem;
}

.column2 {
  grid-template-columns: 1fr 2fr;
}
